.filter-header {
  margin-top: 80px;
}
.input-section {
  display: flex;
  input {
    background-color: white;
    border-radius: 4px;
  }
}

.cards-container {
  margin: 20px 0px;
  background: white;
  display: flex;
  flex-wrap: wrap;

  .solo-card {
    width: calc(50% - 10px);
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 4px;
  }
}
